<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Suchergebnisse</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]>
    <script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

<!-- Sidebar -->

<section id="sidebar">
    <div id="showpicture"></div>
    <div class="inner">

        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/gerichte">Statistiken</a></li>
                <li><a href="/docSuche">Dokumente suchen</a></li>
                <li><a href="/pieCreator">Kuchen generator</a></li>

            </ul>
        </nav>
    </div>
    <script>
        var windowWidth = $(window).width();
        console.log(windowWidth);
        if($(window).width()<1280){
            console.log("kleiner");
            document.getElementById("showpicture").style.display = "none";
        }
        else{
            console.log("größer");
            document.getElementById("showpicture").style.display = "flex";
        }
        $(window).resize(function() {
            console.log('window was resized'+$(window).width());
            if($(window).width()<1280){
                console.log("kleiner");
                document.getElementById("showpicture").style.display = "none";
            }
            else{
                console.log("größer");
                document.getElementById("showpicture").style.display = "flex";
            }
        });
    </script>
</section>



<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->

    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <form  id="form1" method="post" action="/docSuche">
                <input style="width:300px;" type="text" name="suchfeld" id="suchfeld" />
                <input type="submit" name="suchen" id="suchen"/>
            </form>
            <% if(result != undefined){ %>
                <% if(result.message != "nix" ) { %>
                    <%= result.message %><br>
                <% } %>

                <% if(result.message == "nix" ){ %>
                    <% var BGH_Document_ID = result.documentname.replace("_clean",""); %>
                    BGH Entscheidung: No.<%= BGH_Document_ID %> 
		    <a href="http://juris.bundesgerichtshof.de/cgi-bin/rechtsprechung/document.py?Gericht=bgh&Art=en&Datum=Aktuell&Sort=3&nr=<%= BGH_Document_ID %>&pos=3&anz=547" target="_blank"><img src="/images/pdf-icon.png" height="25" ></a>

                    <br><br>
                    <% var documentParameters = Object.getOwnPropertyNames(result.docs[0]);%>
                    Gefundene Parameter: <br><br>
                    <% for(var i = 0; i< documentParameters.length; i++){ %>

                        <%  if(documentParameters[i] != "stream_size"&& documentParameters[i] != "_text_"  && documentParameters[i] != "id" && documentParameters[i] != "x_parsed_by" && documentParameters[i] != "stream_content_type" && documentParameters[i] != "_version_" && documentParameters[i] != "content_encoding"&& documentParameters[i] != "resourcename"&& documentParameters[i] != "content_type"){ %>
                            <div id="parameterResult" style=" ">
                            <% var actualParameter = documentParameters[i].replace("_txt","") %>
                            <u><%= actualParameter %>:</u><br>
                            <% if(result.docs[0][documentParameters[i]] instanceof Array){ %>
                                <% for(var j = 0; j< result.docs[0][documentParameters[i]].length; j++){ %>
                                    <i><%= result.docs[0][documentParameters[i]][j] %></i><br>
                                <% } %>
                            <%}else{ %>
                                <%=  JSON.stringify(result.docs[0][documentParameters[i]]) %>
                            <% } %>
                        <br><br>
                        </div>
                        <% } %>
                    <% } %>
                <%} %>
            <%} %>
        <div style="float:none"><br><br><br><br></div>
        </div>
    </section>

</div>


<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->

<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>

</body>
</html>
